<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Add Record</title>
    <link rel="stylesheet" type="text/css" href="css/add_css.css">
</head>
<body>


    <div class="header">
        <a href="/home" class="logo">PlaceStatus</a>
        <div class="header-right">
            <a class="active" href="/delete">Control Panel</a>
            <a class="active">
            <form th:action="@{/logout}" method="post">
                    <button>Sign In/Out</button>
                </form>
            </a>
        </div>
    </div>


    <div class="form">
    <h1 th:inline="text">Record Local Condiction</h1>
    <h3 th:inline="text">User: [[${#httpServletRequest.remoteUser}]]!</h3>


    <form th:action="@{/locals/add}" method="post">
        <input type="text" id="localName" name="localName" placeholder="Space name"required/>
        <h3>Please select condiction:</h3>
            <label class="container">Empty
                <input type="radio" checked="checked" name="type"value="0">
                <span class="checkmark"></span>
            </label>
        <label class="container">With a few People
            <input type="radio" checked="checked" name="type"value="1">
            <span class="checkmark"></span>
        </label>
        <label class="container">Full
            <input type="radio" checked="checked" name="type"value="2">
            <span class="checkmark"></span>
        </label>
        <label class="container">With a line
            <input type="radio" checked="checked" name="type"value="3">
            <span class="checkmark"></span>
        </label>

        <br><br>


        <input type="text" id="lat" pattern="^[+-]?((\d+(\.\d*)?)|(\.\d+))" name="lat" placeholder="Latitude"required/>
        <input type="text" id="long" pattern="^[+-]?((\d+(\.\d*)?)|(\.\d+))" name="long" placeholder="Longitude"required/>
        <button>addLocal</button>

    </form>
    </div>
</body>
</html>