<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
>
<head>
    <title>Login </title>
    <link rel="stylesheet" type="text/css" href="css/login_css.css">
</head>
<body>
<div class="login-page">
    <div class="form">
        <div th:if="${param.error}">
            Invalid username and password.
        </div>
        <div th:if="${param.logout}">
        </div>
        <form th:action="@{/login}" method="post" class="login-form">
            <input type="text" id="username" name="username" placeholder="username" required/>
            <input type="password" id="password" name="password" placeholder="password" required/>
            <button>login</button>
            <p class="message">Not registered? <a href="/adduser">Create an account</a></p>
        </form>
    </div>
</div>
</body>
</html>
